<%= form_for(@utilisateur2) do |f| %>
  <% if @utilisateur2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utilisateur2.errors.count, "error") %> prohibited this utilisateur2 from being saved:</h2>

      <ul>
      <% @utilisateur2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Password" %><br>
    <%= f.password_field :password %><br>
    <%= f.label "Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
<div class="field">
	Fonction :
	<!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
	<%= select_tag(:fonctions, options_from_collection_for_select(Fonction.all, :id, :nom)) %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
