<%= form_for(@utilisateur2) do |f| %>
  <% if @utilisateur2.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@utilisateur2.errors.count, "error") %> prohibited this utilisateur2 from being saved:</h2>

      <ul>
      <% @utilisateur2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label "Nom" %><br>
    <%= f.text_field :nom %>
  </div>

  <div class="field">
    <%= f.label "Prenom" %><br>
    <%= f.text_field :prenom %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <%= f.label "Confirmation email" %><br>
    <%= f.text_field :email_confirmation %>
  </div>

  <div class="field">
    <%= f.label "Mot de passe" %><br>
    <%= f.password_field :password %><br>
    <%= f.label "Confirmation mot de passe" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

<div class="field">  
   <%= hidden_field_tag :fonctions, 3 %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
