<h1>Editing utilisateur2</h1>

<%= form_for(@utilisateur2) do |f| %>
  <% if @utilisateur2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utilisateur2.errors.count, "error") %> prohibited this utilisateur2 from being saved:</h2>

      <ul>
      <% @utilisateur2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label "Nom" %><br>
    <%= f.text_field :nom %>
  </div>

  <div class="field">
    <%= f.label "Prenom" %><br>
    <%= f.text_field :prenom %>
  </div>

<div class="field">  
   Fonction :
	<%= select_tag(:fonctions, options_from_collection_for_select(Fonction.all, :id, :nom, @utilisateur2.id)) %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @utilisateur2 %> |
<%= link_to 'Back', utilisateur2s_path %>
