<div class = "sectionback__content__title">Editing utilisateur2</div>

<%= form_for(@utilisateur2) do |f| %>
  <% if @utilisateur2.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@utilisateur2.errors.count, "error") %> prohibited this utilisateur2 from being saved:</h2>

      <ul>
      <% @utilisateur2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field field--back">
    <%= f.label "Nom", :class=>'field__label' %>
    <%= f.text_field :nom, :class=>'field__control' %>
  </div>

  <div class="field field--back">
    <%= f.label "Prenom", :class=>'field__label'  %>
    <%= f.text_field :prenom, :class=>'field__control' %>
  </div>

<div class="field field--back">  
   <div class="field__label">Fonction</div>
	<%= select_tag(:fonctions, options_from_collection_for_select(Fonction.all, :id, :nom), :class=>'field__control') %>
</div>
<div class="field field--back">
  <div class="actions">
    <%= f.submit :class=>'button button--submit' %>
  </div>
</div>
<% end %>

<div class="field field--back">
  <%= link_to 'Show', @utilisateur2, :class=>'button button--submit' %>
</div>
<!--|<%= link_to 'Back', utilisateur2s_path %>-->
