<h1>Listing utilisateur2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilisateur2s.each do |utilisateur2| %>
      <tr>
        <td><%= utilisateur2.name %></td>
        <td><%= utilisateur2.email %></td>
        <td><%= utilisateur2.password_digest %></td>
        <td><%= link_to 'Show', utilisateur2 %></td>
        <td><%= link_to 'Edit', edit_utilisateur2_path(utilisateur2) %></td>
        <td><%= link_to 'Destroy', utilisateur2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilisateur2', new_utilisateur2_path %>
