<p>
  <strong>Name:</strong>
  <%= @utilisateur2.nom %>  <%= @utilisateur2.prenom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilisateur2.email %>
</p>

<p>
	<strong>Fonction:</strong>
	<%= Fonction.find_by(:id => @utilisateur2.fonctionId).nom.capitalize %>
<p>

<%= link_to 'Editer', edit_utilisateur2_path(@utilisateur2) %> |
<%= link_to 'Gestion des utilisateurs', utilisateur2s_path %>