<%
	@page_title = "Connexion | Inscription",
%>

<% @special_template = capture do %>

<section class="l-section section">
  <div class="section__content">
      <h3 class="section__content__title section__content__title--page">votre espace client</h3>
  </div>
</section>

<section class="connexion">
	<div class="connexion__content">
	  <div class="connexion__content__body">
    	<%= form_tag(:action => 'login_attempt') do %>
      <h3 class="connexion__content__title">Connexion</h3>
      <div class="field">
      <span class="field__label">Adresse Email</span>
        <%= text_field_tag(:email, nil, {placeholder: 'Email@mail.com', class: 'field__control'}) %>
      </div>
	  <% if(!params[:prod].nil?)%> 
           <%= hidden_field_tag :prod, params[:prod] %>
      <% end%>
      <div class="field">
        <span class="field__label">Mot de passe</span>
        <%= password_field_tag :login_password, nil, {placeholder: 'Mot de passe', class: 'field__control'} %>
      </div>
      <%= submit_tag("Connexion", options = {class: 'button button--connexion', params: { prod: params[:prod] }}) %>
      <% end %>

      
    </div>
    <div class="connexion__content__body">
      <span class=""></span>
      <%= button_to("Inscription",  new_utilisateur2_path, :class => "button button--connexion", :method => :get, params: { prod: params[:prod] }) %>

    </div>
  </div>
</section>
<% end %>