<p id="notice"><%= notice %></p>

<% if false%> <p>
  <strong>Mot de passe encrypté:</strong>
  <%= @utilisateur.encrypted_password %>
</p><% end %>

<p>
  <strong>Email:</strong>
  <%= @utilisateur.email %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @utilisateur.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @utilisateur.prenom %>
</p>

<p>
  <strong>Date création:</strong>
  <%= @utilisateur.dateCreation %>
</p>

<p>
  <strong>Date modification:</strong>
  <%= @utilisateur.dateModification %>
</p>
<%= link_to 'Edit', edit_utilisateur_path(@utilisateur) %> |
<%= link_to 'Back', utilisateurs_path %>
