<h1>Listing fonctions</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fonctions.each do |fonction| %>
      <tr>
        <td><%= fonction.nom %></td>
        <td><%= link_to 'Show', fonction %></td>
        <td><%= link_to 'Edit', edit_fonction_path(fonction) %></td>
        <td><%= link_to 'Destroy', fonction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fonction', new_fonction_path %>
