<!--Titre transféré dans la page back.html.erb -->
<% provide :titreH1, "Liste des produits" %>
<% @produit_menu_active = true %>
<% if(@produits == nil)%>
  <p>Aucun produit</p>
<% else%>

<%= link_to 'Créer un produit', new_produit_path , :class =>"button button__back button__back--produit" %>


<div class="produit">
<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Nom</th>
      <th>Prix</th>
      <% isCurrentUserAdmin = Utilisateur2.find_by(:id => session[:user_id]).isAdmin?%>
      <% if(isCurrentUserAdmin)%>
        <th>Auteur</th>
      <%end%>
      <th>Datecreation</th>
      <th>Datemodification</th>
      <th>Consulter</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <% puts @produits%>
  <tbody>
    <% @produits.each do |produit| %>
      <tr>
        <td><%= produit.ref %></td>
        <td><%= produit.nom %></td>
        <td><%= produit.prix %></td>
        <% if(isCurrentUserAdmin)%>
          <td> 
            <% utilisateur = Utilisateur2.all.find_by(:id => produit.utilisateur2s_id) %>
            <% if (utilisateur) %>
              <%= utilisateur.prenom + " " + utilisateur.nom %>
            <% else %>
              Utilisateur inconnu <!-- Ne devrait pas arriver, mais évite un crash le cas echeant -->
            <% end %>
          </td>
        <%end%>
        <td><%= produit.created_at.strftime("%d / %m / %Y") %></td>
        <td><%= produit.updated_at.strftime("%d / %m / %Y") %></td>
        <td><%= link_to  image_tag('icone-search.png') , produit%></td>
        
        <td><%= 
        link_to image_tag('icone_edition.png'), edit_produit_path(produit) %></td>
        <td><%= link_to image_tag('icone_corbeille.png'), produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<% end%>

<br>

