<h1>New produit</h1>

<%= form_for(@produit) do |f| %>

<% if @produit.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

	<ul>
		<% @produit.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :ref %>
	<br>
	<%= f.text_field :ref,:readonly => true%>
</div>

<div class="field">
	<%= f.label :nom %>
	<br>
	<%= f.text_field :nom %>
</div>
<div class="field">
	<%= f.label :prix %>
	<br>
	<%= f.text_field :prix %>
</div>

<div class="field">
	<%= f.label :descriptionCourte, "Courte description", class: "myClass" %>
	<br />
	<%= f.text_area :descriptionCourte, cols: 100, rows: 5, max_length: 150 %>
</div>

<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_area :description, cols: 100, rows: 10 %>
</div>

<div class="field">
	Tag :
	<!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
	<%= select_tag(:tag, options_from_collection_for_select(Tag.all, :id, :nom)) %>
</div>

<div class="field">
	Type produit :
	<!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
	<%= select_tag(:types_produits, options_from_collection_for_select(TypeProduit.all, :id, :nom), id: "jsTypeProduitSelect") %>
</div>
<div class="field">
	Status :
	<!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
	<%= select_tag(:status, options_from_collection_for_select(Status.all, :id, :nom)) %>
</div>
<!--
<div class="field">
<%= f.label :urlFichier, "Lien vers le fichier" %>
<br />
<%= f.text_field :urlFichier %>
</div>
-->

<div class="field">
	<%= f.label :urlFichier, "Charger le fichier"%>
	<br />
	<%= f.file_field :urlFichier  %>
</div>

<%= f.label :image, "Miniature" %>
<br />
<%= f.file_field :image %>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', produits_path %>
