<% provide :titreH1, "New produit" %>

<%= form_for(@produit, html: {class: "formulaire--back"}) do |f| %>

  <% if @produit.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% @produit.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--back">
    <span class="field__label"><%= f.label :ref %>
    </span>
    <%= f.text_field( :ref,:readonly => true, class: "field__control")%>
  </div>

  <div class="field field--back">
    <span class="field__label"><%= f.label :nom %>
    </span>
    <%= f.text_field( :nom, class: "field__control") %>
  </div>
  <div class="field field--back">
    <span class="field__label"><%= f.label :prix %>
    </span>
    <%= f.text_field( :prix, class: "field__control") %>
  </div>

  <div class="field field--back">
    <%= f.label :descriptionCourte, "Courte description", class: "field__label" %>
      
      <%= f.text_area( :descriptionCourte, cols: 100, rows: 5, class: "field__control") %>
    </div>

    <div class="field field--back">
      <span class="field__label"><%= f.label :description %>
      </span>
      <%= f.text_area( :description, cols: 100, rows: 10, class: "field__control") %>
    </div>

    <div class="field field--back">
      <span class="field__label">Tag </span>
      <!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
      <%= select_tag(:tag, options_from_collection_for_select(Tag.all, :id, :nom), class: "field__control field__control--select") %>
    </div>

    <div class="field field--back">
      <span class="field__label">Type produit</span>
      <!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
      <%= select_tag(:types_produits, options_from_collection_for_select(TypeProduit.all, :id, :nom), id: "jsTypeProduitSelect", class: "field__control field__control--select") %>
    </div>
    <div class="field field--back">
      <span class="field__label">Status</span>
      <!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
      <%= select_tag(:status, options_from_collection_for_select(Status.all, :id, :nom), class: "field__control field__control--select") %>
    </div>
    <!--
    <div class="field">
    <%= f.label :urlFichier, "Lien vers le fichier" %>
    <br />
    <%= f.text_field :urlFichier %>
    </div>
    -->

    <div class="field field--back">
      <span class="field__label"><%= f.label :urlFichier, "Charger le fichier"%></span>
      <%= f.file_field( :urlFichier, class: "field__control")  %>
    </div>
<div class="field field--back">
    <div class="actions">
      <%= f.submit class: "button button--submit"%>
    </div>
</div>
  <% end %>

  <%= link_to 'Back', produits_path %>
