
<h3 class="section__content__title section__content__title--page"><%= @produit.nom %></h3>
</div>
</section>  
<section class="l-section section">
  <div class="section__content">
    <p id="notice">
      <%= notice %>
    </p>
    <div class="image__produit">

    </div>
    <div class="description__produit">
      <p>
        <strong>Description Courte :</strong>
        <%= @produit.descriptionCourte %>
      </p>

      <p>
        <strong>Description :</strong>
        <%= @produit.description %>
      </p>
    </div>
    <p>
      <strong>Prix:</strong>
      <%= @produit.prix %>
    </p>

    <p>
      <strong>Tag :</strong>
      <%= @produit.tags[0].nom %>
    </p>

    <p>
      <strong>Type produit :</strong>
      <%= TypeProduit.find_by(:id => @produit.type_produits_id).nom %>
    </p>

    <p>
      <strong>Prix:</strong>
      <%= @produit.prix %>
    </p>

    <p>
      <strong>Tag :</strong>
      <%= @produit.tags[0].nom %>
    </p>

    <p>
      <strong>Type produit :</strong>
      <%= TypeProduit.find_by(:id => @produit.type_produits_id).nom %>
    </p>

    <p>
      <!--
      <% puts @produit.urlFichier %>
      <% if TypeProduit.find_by(:id => @produit.type_produits_id).nom == "Vidéo" %>
        <%= link_to("Visionner", @produit.urlFichier.identifier) %>
      <% else %> -->
        <%= link_to("Télécharger", @produit.urlFichier.url ) %>
        <!--
      <% end %>
      -->
    </p>