<%= form_for(@type_produit, html: {class: "formulaire--back"}) do |f| %>
  <% if @type_produit.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@type_produit.errors.count, "error") %> prohibited this type_produit from being saved:</h2>

      <ul>
      <% @type_produit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--back">
    <span class="field__label"><%= f.label :nom %></span>
    <%= f.text_field( :nom, class: "field__control") %>
  </div>

<div class="field field--back">
  <span class="field__label">Extension</span>
  <div class="field__control field__control--select">
  <%= 
    collection_check_boxes(:type_produit, :extension_fichier_ids, ExtensionFichier.all, :id, :extension, class: "field__control field__control--select") do |b|
        b.label { b.check_box + b.text }
    end 
  %>
  </div>

</div>

<div class="field field--back">
  <div class="actions">
    <%= f.submit  class: "button button--submit"%>
  </div>
</div>
<% end %>