<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @type_produit.nom %>
</p>

<p>
	<%= pluralize(@type_produit.extension_fichiers.count, "Extension") %>
	<% @type_produit.extension_fichiers.each do |ext| %>
	<li><%= ext.extension %></li>
	<% end %>
</p>

<%= link_to 'Edit', edit_type_produit_path(@type_produit) %> |
<%= link_to 'Back', type_produits_path %>
