<h1>New section</h1>

<%= @formation.nom %>
<%= @section.nom %>

<%= "formations/#{@formation.id}/sections" %>

<%= form_for (@section), :url => "/formations/#{@formation.id}/sections" do |f| %>

  <div class="field">
  <%= f.label :ref %><br>
  <%= f.text_field :ref %>
  </div>

  <div class="field">
  <%= f.label :nom, "Nom" %><br>
  <%= f.text_field :nom %>
  </div>

  <div class="field">
  <%= f.label :description, "Description" %><br>
  <%= f.text_field :description %>
  </div>

  <div class="actions">
  <%= f.submit "Créer section", :disable_with => 'Créer section...' %>
  </div>

<% end %>

<%= link_to 'Back', formation_sections_path %>
