<% provide :titreH1, "New section"%>

<%= form_for (@section), html: {class: "formulaire--back"}, :url => "/formations/#{@formation.id}/sections" do |f| %>

  <div class="field field--back">
    <span class="field__label"><%= f.label :titre, "Titre" %></span>
    <%= f.text_field( :titre, class: "field__control") %>
  </div>
  <div class="field field--textarea field--back">
    <span class="field__label"><%= f.label :description, "Description" %></span>
    <%= f.text_area( :description, class: "field__control") %>
  </div>
<div class="field field--back">
  <div class="actions">
    <%= f.submit class: "button button--submit" %>
  </div>
</div>
<% end %>


<%= link_to 'Back', hierarchie_path(@formation) %>
