<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @section.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Datesuppression:</strong>
  <%= @section.dateSuppression %>
</p>

<%= link_to 'Editer', edit_formation_section_path(@formation, @section) %> |
<%= link_to 'Back', hierarchie_path(@formation) %>
