<% provide :titreH1, "New reponse"%>

<%= form_for(@reponse) do |f| %>
  <% if @reponse.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@reponse.errors.count, "error") %> prohibited this reponse from being saved:</h2>

      <ul>
      <% @reponse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--back">
    <span class="field__label"><%= f.label :reponse %></span>
    <%= f.text_field( :reponse, class: "field__control") %>
  </div>
  <div class="field field--checkbox field--back">
    <span class="field__label"><%= f.label :estJuste %></span>
    <%= f.check_box( :estJuste, class: "field__control field__control--checkbox") %>
  </div>
<div class="field field--back">
    <span class="field__label">Question </span>
      <!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
      <%= select_tag(:question, options_from_collection_for_select(Question.all, :id, :nom) , class: "field__control field__control--select") %>
  </div>
<div class="field field--back">
  <div class="actions">
    <%= f.submit class: "button button--submit" %>
  </div>
</div>
<% end %>


<%= link_to 'Back', reponses_path %>
