<p id="notice"><%= notice %></p>

<p>
  <strong>Reponse:</strong>
  <%= @reponse.reponse %>
</p>

<p>
  <strong>Estjuste:</strong>
  <%= @reponse.estJuste %>
</p>

<p>
  <strong>Datesuppression:</strong>
  <%= @reponse.dateSuppression %>
</p>

<%= link_to 'Edit', edit_reponse_path(@reponse) %> |
<%= link_to 'Back', reponses_path %>
