<h1>New chapitre</h1>

<%= form_for(@chapitre) do |f| %>
  <% if @chapitre.errors.any? %>
    <div class="error_explanation">
        <h2><%= pluralize(@chapitre.errors.count, "error") %> prohibited this chapitre from being saved:</h2>

        <ul>
            <% @chapitre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :ref %><br>
      <%= f.text_field :ref %>
  </div>
  <div class="field">
      <%= f.label :nom %><br>
      <%= f.text_field :nom %>
  </div>
  <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
  </div>
  <div class="field">
      <%= f.label :texte %><br>
      <%= f.text_field :texte %>
  </div>
  <div class="field">
      <!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
      <%= select_tag(:section, options_from_collection_for_select(Section.all, :id, :nom)) %>
  </div>
  <div class="field">
      <%= f.label :dateSuppression %><br>
      <%= f.datetime_select :dateSuppression %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', chapitres_path %>
