<%= form_for(@fiche_produit) do |f| %>
  <% if @fiche_produit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiche_produit.errors.count, "error") %> prohibited this fiche_produit from being saved:</h2>

      <ul>
      <% @fiche_produit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br>
    <%= f.text_field :ref,:readonly => true%>  
  </div>
  <hr>
  <div class="field">
    <%= f.label "Titre" %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Description Courte" %><br>
    <%= f.text_area :descriptionCourte %>
  </div>
  <div class="field">
    <%= f.label "Date de publication : " %><br>
    <%= datetime_select("fiche_produit", "datePublication", :start_year => Date.current.year + 10, :end_year => 2000) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
