<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Mere</th>
      <th>Datecreation</th>
      <th>Datemodification</th>
      <th>Datesuppression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.nom %></td>
        <td><%= tag.mere %></td>
        <td><%= tag.created_at %></td>
        <td><%= tag.updated_at %></td>
        <td><%= tag.dateSuppression %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorie', new_tag_path %>
