<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @tag.nom %>
</p>

<p>
  <strong>Mere:</strong>
  <%= @tag.mere %>
</p>

<p>
  <strong>Datecreation:</strong>
  <%= @tag.created_at %>
</p>

<p>
  <strong>Datemodification:</strong>
  <%= @tag.updated_at %>
</p>

<p>
  <strong>Datesuppression:</strong>
  <%= @tag.dateSuppression %>
</p>

<%= link_to 'Edit', edit_category_path(@tag) %> |
<%= link_to 'Back', categories_path %>
