<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @tag.nom %>
</p>

<p>
  <strong>Parent:</strong>
  <%= Tag.find_by(:id => @tag.mere).nom %>
</p>

<p>
  <strong>Datecreation:</strong>
  <%= @tag.created_at %>
</p>

<p>
  <strong>Datemodification:</strong>
  <%= @tag.updated_at %>
</p>

<p>
  <strong>Datesuppression:</strong>
  <%= @tag.dateSuppression %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
