<% provide :titreH1, "Liste des quizzs"%>

<% @quizz_menu_active = true %>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Datesuppression</th>
      <th>Consulter</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </thead>

  <tbody>
    <% @quizzs.each do |quizz| %>
      <tr>
        <td><%= quizz.ref %></td>
        <td><%= quizz.nom %></td>
        <td><%= quizz.description %></td>
        <td><%= quizz.dateSuppression %></td>
        <td><%= link_to  image_tag('icone-search.png'), quizz %></td>
        <td><%= link_to image_tag('icone_edition.png'), edit_quizz_path(quizz) %></td>
        <td><%= link_to image_tag('icone_corbeille.png'), quizz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un quizz', new_quizz_path %>
