<%@formations = Formation.all.paginate(:page => params[:page])%>
<% @formation_menu_active = true %>
<% provide :titreH1, "Liste des formations" %>

<%= link_to 'Créer une formation', new_formation_path , :class =>"button button__back button__back--formation" %>

<div class="formation">
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Catégorie</th>
      <th>Status</th>
      <th>Date de création</th>
      <th>Date de publication</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </thead>

  <tbody>
    <% @formations.each do |formation| %>
      <tr>
        <td><%= link_to formation.nom, formation %></td>
        <td><%= "#{formation.prix}€" %></td>
        <% #trouver le tag qui n a pas de mere (il ne peut y en avoir qu un) %>
        <td><%=
            t = Tag.where(:id => formation.tag_ids).order('mere ASC').limit(1)[0]
            link_to t.nom, t
            %></td>
        <td class="<%= formation.estPublic ? 'formation__status--enLigne' : 'formation__status--enAttente' %>"><%=
            if formation.estPublic
              "En ligne"
            else
              "En attente"
            end
          %></td>
        <td><%= formation.created_at.strftime("%d / %m / %Y") %></td>
        <td><%=
          if formation.datePublication
            formation.datePublication
          else
            "Pas de publication prévue"
          end
          %></td>
        <td><%= link_to image_tag('icone_edition.png'), edit_formation_path(formation) %></td>
        <td><%= link_to image_tag('icone_corbeille.png'), formation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  <div class="digg_pagination">
    <p>Page : <%= will_paginate @formations, :container => false %></p>
  </div>

<br>

<!-- # <%= link_to 'New Formation', new_formation_path %>
 -->
