<h1>Listing formations</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Estpublic</th>
      <th>Date création</th>
      <th>Date publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formations.each do |formation| %>
      <tr>
        <td><%= formation.nom %></td>
        <td><%= formation.prix %></td>
        <td><%= formation.estPublic %></td>
        <td><%= formation.created_at %></td>
        <td><%= formation.datePublication %></td>
        <td><%= link_to 'Show', formation %></td>
        <td><%= link_to 'Edit', edit_formation_path(formation) %></td>
        <td><%= link_to 'Destroy', formation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formation', new_formation_path %>
