<div class = "sectionback__content__title">New formation</div>

<%= form_for(@formation , html: {class: "formulaire--back"}) do |f| %>
  <% if @formation.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@formation.errors.count, "error") %> prohibited this formation from being saved:</h2>

      <ul>
      <% @formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :ref %></span><%= f.text_field(:ref , class: "input input--back input--back__control") %>
  </div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :nom %></span>
    <%= f.text_field(:nom , class: "input input--back input--back__control")  %>
  </div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :prix %></span>
    <%= f.text_field(:prix, class: "input input--back input--back__control") %>
  </div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :descriptionCourte %></span>
    <%= f.text_field(:descriptionCourte, class: "input input--back input--back__control") %>
  </div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :description %></span>
    <%= f.text_field(:description, class: "input input--back input--back__control") %>
  </div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :estPublic %></span>
    <%= f.check_box(:estPublic, class: "input input--back input--back__checkbox") %>
  </div>
<div class="field">
	<span class="input input--back  input--back__label">Status </span>
	<!-- On doit ajouter le lien avec la table des catégories. Comment gérer le fait qu'il y ai plusieurs catégorie possible ? -->
	<%= select_tag(:status, options_from_collection_for_select(Status.all, :id, :nom) , class: "input input--back input--back__select") %>
</div>
  <div class="field">
    <span class="input input--back  input--back__label"><%= f.label :dateSuppression %></span>
    <%= f.datetime_select :dateSuppression %>
  </div>
  <div class="field">
    <div class="actions">
      <%= f.submit class: "button button--submit" %>
    </div>
  </div>
<% end %>


<!-- <%= link_to 'Back', formations_path %> -->
