<%= form_for(@extension_fichier, html: {class: "formulaire--back"}) do |f| %>
  <% if @extension_fichier.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@extension_fichier.errors.count, "error") %> prohibited this extension_fichier from being saved:</h2>

      <ul>
      <% @extension_fichier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--back">
    <span class="field__label"><%= f.label :extension %></span>
    <%= f.text_field( :extension, class: "field__control") %>
  </div>
 <div class="field field--back">
  <div class="actions">
    <%= f.submit class: "button button--submit"%>
  </div>
 </div>
<% end %>
